/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body{
  margin:0;
  height: 100%;
  width: 100%;
}


.mat-drawer-backdrop.mat-drawer-shown{
  background-color:#000;
  background-color:rgba(0,0,0,0.5);
}
